.card {
  width: 30%;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  background-color: rgb(60, 62, 68);
  border-radius: 1rem;
  color: #fff;
  text-align: left;
}

.card__img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}
